*{
	box-sizing: border;
     Width: 100%;
	 padding:10px;
	 margin:0 auto ;
	 
}

.column{
	Width: 45%;
	float: right;
	
}
	.yyy{
		float: right;
	}


.row  {

Width: 30.73%;
Padding:2px;
}

.row: :after {
content: "";
cle#About{
  text-align-last: center;
}r: both;
}
.or{
	Width: 15%;
}
.about{

    text-align: center;
	}
.bee{
	
	background-color:#87CEFA;
}
.Products{
padding-top:2px
	 text-align: center;
	 display:flex;
	align-items: left;
	float: right;
}

.pic{
 display:flex;
 align-items: left;
 justify-content: space-between;
 Width: 200%;
padding-left:0%;
 }	  
 
 .pic .yt {
	  display:flex;
	  flex-direction:column;
	  align-items: center;
	 background-color:#000000;
 }  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	 


	
