*{
	box-sizing: border-box;
     Width: 100%;
	 padding:5px;
	 margin:0 auto ;
	
}

.column{
	Width: 40%;
	
	
}
	.yyy{
		float: right;
	}


.row  {
display:flex;

Padding:2px;

}

.row: :after {
content: "";
cle#About{
  text-align-last: center;
}r: both;
}
.or{
	Width: 15%;
}
.about{

    text-align: center;
	}
.bee{
	
	background-color:#87CEFA;
}
.Products{
padding-top:2px
	text-align: center;
	 

}

.pic{
 display:flex;
 align-items: left;
 justify-content: space-between;
 ??...Width: 80%;
padding-left:0%;
 }
 
 .bur{
 display:flex;
 align-items: left;
 justify-content: space-between;
 Width: 75%;
padding-left:0%;
 }	
 
 .back{
	 background-color:#8B0000;
 }
 
 .pic .yt {
	  display:flex;
	  flex-direction:column;
	  align-items: center;
	
 }  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	 


	
